#left {
    text-align: right;
    /* border: 1px solid rgb(5, 9, 255); */
}

#center {
    text-align: center;
    max-height: min-content;
    align-self: end;
}



div {
    /* border: 1px solid green; */
    margin: 10px;
}


#names p {
    max-width: fit-content;
}

#points {
    display: grid;
    grid-template-columns: 10fr 3fr 10fr;
}

#points div {
    width: 100%;
}

.name {
    font-size: large;
}

.point {
    font-size: 7rem;
    margin: 10px;
}

.set {
    font-size: 4rem;
    margin: 5px;
}


td {
    width: 100px;
    height: 15px;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    bottom: 2%;
}

button, .button {
    background-color: #e30404;
    border-radius: 10px;
    color: white;
    padding: 10px;
    border: none;
    text-align: center;
    height: fit-content;
    min-width: 50px;
    margin: 2px;
}

.pointButton {
    width: 45%;
    display: inline-block;
}

button:hover, .button:hover{
    background-color: #9c0303;
}

#controls {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    row-gap: 10px;
}

#reset {
    grid-column-start: 1;
    grid-column-end: 3;
}

form {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10%;
    grid-column-start: 1;
    grid-column-end: 3;
}

input {
    width: 300px;
    height: 20px;
    padding: 10px;
}

#docasne {
    border: 1px solid black;
    padding: 10px;
    
    
}

#scoreboard {
    max-height: 400px;
    overflow-y: scroll;
    columns: 2;
    text-align: right;
}

#scoreboard p {
    max-width: fit-content;
}

#p0 {
    font-size: x-large;
    font-weight: 900;
}

#p1 {
    font-size: larger;
    font-weight: 900;
}



/* Small devices - phones */
@media  screen and (max-width: 600px) {
    #desktop, #tablet {
        display: none;
    }

    #controls {
        display: block;
        text-align: center;
    }


    #form {
        column-gap: 0px;
        margin: 0px;
        
    }
     
    #form input {
        display: block;
        margin: 0px;;
        border-right: none;
        width: 100%;
        border: 1px solid black;
    }

    form .button {
        border-radius: 0px 10px 10px 0px;
        height: 100%;
    }

    #reset {
        width: 100%;
    }

    input {
        margin-bottom: 10px;
        
    }

}

/* larger devices (tablets, phones in desktop mode) - portrait */
@media screen and (min-width: 600px) and (orientation: portrait) {
    #desktop, #phone {
        display: none;
    }
}

/* larger devices (tablets, phones) - landscape */
@media screen and (min-width: 600px) and (orientation: landscape) {
    #desktop, #phone {
        display: none;
    }
}